.grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 480px;
    margin-inline: auto;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: none;
    }
}