.header {
    box-shadow: var(--shaded-box);
    background-color: var(--color-white);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__container {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo h1 {
    display: none;
}

.header__cta {
    display: none;
}

@media screen and (min-width: 992px) {
    .header__container {
        padding-block: 0;
    }

    .header__cta {
        display: block;
    }
}